#### MAIN CONFIG FILE FOR GRAPHICAL ANALYSIS OF BEOWULF DATABASE

mode = graphical

object_type = word

base_object = word

label_file = word.graphical`word`lbl

jsonfile = utf8.oldenglish`poetic`utf-8`json
jsonfile = ascii.oldenglish`poetic`ascii`json
jsonfile = graphemes.oldenglish`poetic`graphemes`json
jsonfile = latex.oldenglish`poetic`latex`json
