
#overridden by -d option
database = oldenglish

#overridden by -u option
usr = None

#overridden by -p option
pwd = None

#available modes, in proper order
modes = graphical
modes = lexical
modes = morphological
modes = syntactic
modes = prosodic

#overridden by -m option
mode = lexical

formats = utf8
formats = ascii
formats = graphemes
formats = latex

#overridden by -f option
format = utf8

#reference_object  = document
#reference_feature = document.abbr
#reference_object  = verse
#reference_feature = verse.verse
#reference_format  = (%s~%s)SPACE

reference_object  = verse
reference_feature = verse.label
reference_format  = (%s)

modecfg = graphical.oldenglish`graphical.cfg
modecfg = lexical.oldenglish`lexical.cfg
modecfg = morphological.oldenglish`morphological.cfg
modecfg = syntactic.oldenglish`syntactic.cfg
modecfg = prosodic.oldenglish`prosodic.cfg

exit_phrase = quit
exit_phrase = exit
exit_phrase = bye
exit_phrase = done
exit_phrase = stop
exit_phrase = bail
exit_phrase = basta
exit_phrase = leave
exit_phrase = enough
exit_phrase = toodles
exit_phrase = doei
exit_phrase = dag
exit_phrase = totSPACEziens
exit_phrase = toedeledoki
exit_phrase = nokken
exit_phrase = q
exit_phrase = b
exit_phrase = COLONq!
exit_phrase = ZZ
